* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: black;
}

header {
    width: 800px;
    margin: auto;
    padding: 2.5rem 0;
}

header div {
    width: fit-content;
    margin: auto;
    text-align: center;
}

header .logo img{
    width: 8rem;
}

header .text-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

header .text-header p {
    font-size: 1.2rem;
    color: #fff;
}

main .container {
    background: #fff;
    width: 800px;
    margin: auto;
    border-radius: 10px;
}

main .container .content {
    margin-bottom: 8rem;
}

main .container .text {
    padding: 2rem;
}

main .container .text:nth-child(1) {
    padding-bottom: 0;
}

main .container .textgrey {
    background: #F5F5F5;
}

main .container .text h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

main .container .text p {
    color: #666;
    font-size: 1.1rem;
}

@media screen and (max-width:480px) {
    html {
        font-size: 87.3%;
    }
    
    header {
        width: 80%;
    }
    
    header .logo img {
        width: 7rem;
    }
    
    header .text-header h1 {
        font-size: 1.8rem;
    }
    
    header .text-header p {
    font-size: 1.1rem;
    }
    
    main .container {
        width: 80%;
    }
    
    main .container .text h3 {
    font-size: 1.2rem;
    }
    
    main .container .text p {
        font-size: 1rem;
    }
}